body {
  background: white;
}

body header {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 800;
  background: lightsalmon;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header h1 {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 2.5rem;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  font-weight: 800;
  background: lightsalmon;
  height: 5vh;
  width: 50rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 1.5rem;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .welcome {
  font-size: 36px;
  color: black;
  margin: 2rem 0 2rem 0;
}

body main .box_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 2rem 0;
}

body main .box_login a {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

body main .site {
  margin: 0 0 2rem 0;
}

body main .site input {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

body main .reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: lightsalmon;
}

body main .reg input {
  margin: .5rem;
}

body main .log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: lightsalmon;
}

body main .log input {
  margin: .5rem;
}

body main .picture_log {
  width: 15rem;
  height: 20rem;
}

body main .box_games {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 40rem;
  text-align: center;
}

body main .box_games .title {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

body main .box_games .game_bild {
  width: 15rem;
  height: 10rem;
}
/*# sourceMappingURL=style.css.map */