@import "variables";

body{
background: white; 

    header {    


        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2em;
        font-weight:800;
        background: lightsalmon;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;


        h1 {
        color:black ;
        @include center;
        }

        a {
            @include center;
            color: black;
            font-size: 2.5rem;
            
        }
    
    }

    nav{
        @include center;
        margin: auto;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1em;
        font-weight:800;
        background: lightsalmon;
        height: 5vh;
        width: 50rem;
        flex-direction: row;
        justify-content: space-around;

        a {
            @include center;
            color: black;
            font-size: 1.5rem
            
            
        }

    }

    main{
        @include center;
        flex-direction: column;
        .welcome{
            font-size: 36px; 
            color: black;
            margin: 2rem 0 2rem 0 ;

        }

        .box_login{
            display: flex;
            width: 300px;
            justify-content: space-around;
            margin: 0 0 2rem 0 ;

            a{
                font-size: 24px;
                text-transform: uppercase;
                text-decoration: none;
                color:black;
            }
        }

        .site{
            margin: 0 0 2rem 0;
            input{
            font-size: 24px;
            text-transform: uppercase;
            text-decoration: none;
            color:black;
            }
        }

        .reg{
            @include center;
            flex-direction: column;
            background: lightsalmon;
            

            input{
                margin: .5rem ;
            }
        }

        .log{
            @include center;
            flex-direction: column;
            background: lightsalmon;
            

            input{
                margin: .5rem ;
            }
        }

        .picture_log{
            width: 15rem;
            height: 20rem;
        }

        .info_box{
            text-align: center;

            .title_info{
                font-size: 5rem;
                margin: 2rem 0 2rem 0
            }

            .bild_info{
                height: 30rem;
            }

            ul{
               
                font-size: 1.5rem;
                
            }

            .save{
                
                input{
                font-size: 24px;
                text-transform: uppercase;
                text-decoration: none;
                color:black;
                margin: 1rem 0 1rem 0;
            }
            }
        }

        .box_games{
            display: grid;
            grid-template-columns: repeat(2, 1fr) ;
            width: 40rem;
            text-align: center;
            margin: 0 0 1rem 0;

            .title{
                grid-column-start: span 2;
                font-size: 24px;
                text-transform: uppercase;
                color:black;
                margin: 0 0 1rem 0;
                
            }



            .game_bild{
                margin: auto;
                grid-column-start: span 2;
                width: 28rem;
                height: 20rem;
            }
        }

    }




}